APP_NAME=WalletTransfers
APP_ENV=local
APP_DEBUG=true

DB_DRIVER=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=wallet_transfers
DB_USERNAME=wallet
DB_PASSWORD=secret
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

AMQP_HOST=rabbitmq
AMQP_PORT=5672
AMQP_USER=guest
AMQP_PASSWORD=guest
AMQP_VHOST=/

AUTHORIZER_BASE_URL=https://util.devi.tools/api/v2
NOTIFIER_BASE_URL=https://util.devi.tools/api/v1

LOG_CHANNEL=daily
LOG_LEVEL=debug
